@model CleanArchMvc.Application.DTOs.CategoryDTO

<div class="container bg-primary p-5 rounded-3 w-50">

    <div class="mb-3 text-center">
        <h1 class="text-light">Category Details</h1>
    </div>

    <form>
        <div class="form-horizontal">
            <div class="mb-3">
                <label asp-for="Name" class="form-label text-light">Name: </label>
                <input type="text" class="form-control" asp-for="Name" id="Name" readonly>
            </div>

            <br />
            <div class="form-group">
                <div class="col-md-offset-2-col-md-10">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Index" class="btn btn-info">Back To List</a>
                </div>
            </div>
        </div>
    </form>
</div>